{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Linux Terminal</title>
    <link rel="stylesheet" href="{% static 'CSS/cloud.css' %}">
</head>
<body>
    <h1> This is your Lab </h1>
    <p>How to connect to our lab?</p><br>
    
    <p>There are two ways
        <ol>
            <li>SSH (SecureShell)</li>
            <li>PuTTY</li>

        </ol>
    </p>
<p>

</p>
    <p>
        First of all we will go through SSH as it is more easier way to get things done.<br>
        <Step-1>User need to download the private key we provide when the user login to their dashboard.</Step-1>
        <Step-2>Open any terminal (Command Prompt or Powershell(Primarily available in Windows) and move to the directory where you have downloaded the private key using cd command</Step-2>
        <step-3>Now use the ssh command to prompt the login and type 'yes' when asked by the terminal</step-3>
        <step-4>BOOM! You're logged into the cloud terminal which provides linux environment</step-4>
        <step-5>Now you can follow the instructions in the blog and you are even free to explore on your own which is what we encourage for everyone to do as it keeps the enthusiasm alive and helps grow user's googling stuff skills.</step-5>
    </p>
</body>
</html>