{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page one</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/pag2.css' %}">

</head>
<body>
    <center>    <h2>Basic survivng skills </h2>
    </center>
<p>Let us start with understanding basic commands in linux  first command we are going to learn is <strong>whoami</strong>  whoami tells us the name of the user who is logged into 
as you can see the image below where you can see i typed the command  whoami and it telling me that the user logged into is TermianlChamp   </p>  
<img class="whoami" src="static/Images/whoami.jpg" alt="" srcset="">  
<p> Next we have pwd command which stands for <strong>Present Working Directory </strong>which tells which directory we are correctly we are working as you can 
    see in the below image when i typed pwd  it was showing me that it is home directory 
</p>
<img  class="pwd" src="static/Images/pwd.jpg" alt="" srcset="">
<p> ls command which is used to list out the contents that are present in a directory  i.e  it gives list of the files and subfolders or subdirectoriess present
    in  that directroy as you can see in the below image ls command gave   the list of the contents present in the home directory 
</p>
<img  class="ls" src="static/Images/ls.jpg" alt="" srcset="">
</body>
</html>