*{
    padding:10px;
    margin:0;

}
body{
    /* background-color: red; */
    background-color: black;
    background: url('/static/Images/whitepaper.jpg');
    background-size: align;
}

login-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;



}
